src/main/resources/item-good-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="category" type="xs:string"/>
  <xs:element name="color" type="xs:string"/>
  <xs:element name="manufacturer" type="xs:string"/>
  <xs:element name="model" type="xs:string"/>
  <xs:element name="price" type="xs:float"/>
  <xs:element name="quantity" type="xs:byte"/>
  <xs:element name="subcategory" type="xs:string"/>
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="category"/>
        <xs:element ref="color"/>
        <xs:element ref="manufacturer"/>
        <xs:element ref="model"/>
        <xs:element ref="price"/>
        <xs:element ref="quantity"/>
        <xs:element ref="subcategory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>